<header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->

      <nav class="titleBar">
        <ul class="titleList">
	   <li class="item site-title"><i class="fas fa-chess-rook"></i> Quezlit</li> 
           <li class="item titleBar-search">
            <input type="text" id="titleBar-search-input" placeholder="Search...">
            <button type="button" id="titleBar-search-button"><i class="fas fa-search"></i></button>
          </li>
       
        </ul>
      </nav>
    </header>
	
<main class="error-container">
      <h2>404</h2>
      <h3>Woops!  We couldn't find that page.</h3>
</main>